body {
    font-family: "Satoshi", sans-serif;
    background: var(--thorin-background-primary);
    color: var(--thorin-text-primary);
    font-size: 16px;
}

html {
    background: var(--thorin-background-primary);
}

* {
    box-sizing: border-box;
}

p {
    margin: 0;
}

@font-face {
    font-family: "Satoshi";
    src: url("https://app.ens.domains/fonts/sans-serif/Satoshi-Bold.otf")
        format("opentype");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "Satoshi";
    src: url("https://app.ens.domains/fonts/sans-serif/Satoshi-Variable.ttf")
        format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Satoshi";
    src: url("https://app.ens.domains/fonts/sans-serif/Satoshi-Medium.otf")
        format("opentype");
    font-weight: 500;
    font-style: normal;
}

html {
    --thorin-blue-primary: #3889ff;
    --thorin-blue-active: #003685;
    --thorin-blue-dim: #056aff;
    --thorin-blue-bright: #569aff;
    --thorin-blue-light: #d1e4ff;
    --thorin-blue-surface: #eef5ff;
    --thorin-indigo-primary: #5854d6;
    --thorin-indigo-active: #19175f;
    --thorin-indigo-dim: #342fc5;
    --thorin-indigo-bright: #7e7bdf;
    --thorin-indigo-light: #c7c5f1;
    --thorin-indigo-surface: #e3e2f8;
    --thorin-purple-primary: #a343d3;
    --thorin-purple-active: #3d1353;
    --thorin-purple-dim: #8a2bba;
    --thorin-purple-bright: #b86edd;
    --thorin-purple-light: #e3c6f1;
    --thorin-purple-surface: #ebd6f5;
    --thorin-pink-primary: #d52e7e;
    --thorin-pink-active: #440e28;
    --thorin-pink-dim: #ae2366;
    --thorin-pink-bright: #de5999;
    --thorin-pink-light: #f4cde0;
    --thorin-pink-surface: #ebd6f5;
    --thorin-red-primary: #c6301b;
    --thorin-red-active: #280a06;
    --thorin-red-dim: #992515;
    --thorin-red-bright: #e34631;
    --thorin-red-light: #f0c2c2;
    --thorin-red-surface: #f9e7e7;
    --thorin-orange-primary: #f3930b;
    --thorin-orange-active: #492c03;
    --thorin-orange-dim: #c37609;
    --thorin-orange-bright: #f6a93c;
    --thorin-orange-light: #fbe1bc;
    --thorin-orange-surface: #fdf0dd;
    --thorin-yellow-primary: #e9b911;
    --thorin-yellow-active: #423505;
    --thorin-yellow-dim: #b9930e;
    --thorin-yellow-bright: #f0c93c;
    --thorin-yellow-light: #ffefad;
    --thorin-yellow-surface: #fff5cd;
    --thorin-green-primary: #199c75;
    --thorin-green-active: #072c21;
    --thorin-green-dim: #158463;
    --thorin-green-bright: #1eb789;
    --thorin-green-light: #cbe7dc;
    --thorin-green-surface: #e7f4ef;
    --thorin-grey-primary: #9b9ba7;
    --thorin-grey-active: #1e2122;
    --thorin-grey-dim: #595959;
    --thorin-grey-bright: #b6b6bf;
    --thorin-grey-light: #e8e8e8;
    --thorin-grey-surface: #f6f6f6;
    --thorin-text-primary: #1e2122;
    --thorin-text-secondary: #9b9ba7;
    --thorin-text-accent: #ffffff;
    --thorin-text-disabled: #b6b6bf;
    --thorin-background-primary: #ffffff;
    --thorin-background-secondary: #f6f6f6;
    --thorin-background-disabled: #e8e8e8;
    --thorin-border: #e8e8e8;

    --thorin-spacing-1: 4px;
    --thorin-spacing-2: 8px;
    --thorin-spacing-4: 16px;

    --thorin-radius-button: 8px;
    --thorin-radius-card: 16px;
    --thorin-radius-tag: 14px;
    --thorin-radius-label: 4px;
}

@media (prefers-color-scheme: dark) {
    html:not(.no-system) {
        --thorin-blue-primary: #3889ff;
        --thorin-blue-active: #eef5ff;
        --thorin-blue-dim: #d1e4ff;
        --thorin-blue-bright: #056aff;
        --thorin-blue-light: #0c4597;
        --thorin-blue-surface: #20395f;
        --thorin-indigo-primary: #6b67e9;
        --thorin-indigo-active: #e3e2f8;
        --thorin-indigo-dim: #c7c5f1;
        --thorin-indigo-bright: #342fc5;
        --thorin-indigo-light: #221e90;
        --thorin-indigo-surface: #23216d;
        --thorin-purple-primary: #a343d3;
        --thorin-purple-active: #ebd6f5;
        --thorin-purple-dim: #e3c6f1;
        --thorin-purple-bright: #8a2bba;
        --thorin-purple-light: #5e1683;
        --thorin-purple-surface: #42145a;
        --thorin-pink-primary: #d52e7e;
        --thorin-pink-active: #fae8f1;
        --thorin-pink-dim: #f4cde0;
        --thorin-pink-bright: #ae2366;
        --thorin-pink-light: #761544;
        --thorin-pink-surface: #5b1135;
        --thorin-red-primary: #c6301b;
        --thorin-red-active: #f9e7e7;
        --thorin-red-dim: #f0c2c2;
        --thorin-red-bright: #a72614;
        --thorin-red-light: #7f1313;
        --thorin-red-surface: #3f2424;
        --thorin-orange-primary: #f3930b;
        --thorin-orange-active: #fdf0dd;
        --thorin-orange-dim: #fbe1bc;
        --thorin-orange-bright: #c37609;
        --thorin-orange-light: #6d4308;
        --thorin-orange-surface: #583503;
        --thorin-yellow-primary: #e9b911;
        --thorin-yellow-active: #fff5cd;
        --thorin-yellow-dim: #ffefad;
        --thorin-yellow-bright: #b9930e;
        --thorin-yellow-light: #5c4b0c;
        --thorin-yellow-surface: #373222;
        --thorin-green-primary: #199c75;
        --thorin-green-active: #e7f4ef;
        --thorin-green-dim: #cbe7dc;
        --thorin-green-bright: #158463;
        --thorin-green-light: #104a38;
        --thorin-green-surface: #153c31;
        --thorin-grey-primary: #9b9ba7;
        --thorin-grey-active: #f6f6f6;
        --thorin-grey-dim: #e8e8e8;
        --thorin-grey-bright: #5d5c62;
        --thorin-grey-light: #424347;
        --thorin-grey-surface: #141416;
        --thorin-text-primary: #ffffff;
        --thorin-text-secondary: #9b9ba7;
        --thorin-text-accent: #ffffff;
        --thorin-text-disabled: #5d5c62;
        --thorin-background-primary: #1e2122;
        --thorin-background-secondary: #141416;
        --thorin-background-disabled: #424347;
        --thorin-border: #42464e;
    }
}

html.dark {
    --thorin-blue-primary: #3889ff;
    --thorin-blue-active: #eef5ff;
    --thorin-blue-dim: #d1e4ff;
    --thorin-blue-bright: #056aff;
    --thorin-blue-light: #0c4597;
    --thorin-blue-surface: #20395f;
    --thorin-indigo-primary: #6b67e9;
    --thorin-indigo-active: #e3e2f8;
    --thorin-indigo-dim: #c7c5f1;
    --thorin-indigo-bright: #342fc5;
    --thorin-indigo-light: #221e90;
    --thorin-indigo-surface: #23216d;
    --thorin-purple-primary: #a343d3;
    --thorin-purple-active: #ebd6f5;
    --thorin-purple-dim: #e3c6f1;
    --thorin-purple-bright: #8a2bba;
    --thorin-purple-light: #5e1683;
    --thorin-purple-surface: #42145a;
    --thorin-pink-primary: #d52e7e;
    --thorin-pink-active: #fae8f1;
    --thorin-pink-dim: #f4cde0;
    --thorin-pink-bright: #ae2366;
    --thorin-pink-light: #761544;
    --thorin-pink-surface: #5b1135;
    --thorin-red-primary: #c6301b;
    --thorin-red-active: #f9e7e7;
    --thorin-red-dim: #f0c2c2;
    --thorin-red-bright: #a72614;
    --thorin-red-light: #7f1313;
    --thorin-red-surface: #3f2424;
    --thorin-orange-primary: #f3930b;
    --thorin-orange-active: #fdf0dd;
    --thorin-orange-dim: #fbe1bc;
    --thorin-orange-bright: #c37609;
    --thorin-orange-light: #6d4308;
    --thorin-orange-surface: #583503;
    --thorin-yellow-primary: #e9b911;
    --thorin-yellow-active: #fff5cd;
    --thorin-yellow-dim: #ffefad;
    --thorin-yellow-bright: #b9930e;
    --thorin-yellow-light: #5c4b0c;
    --thorin-yellow-surface: #373222;
    --thorin-green-primary: #199c75;
    --thorin-green-active: #e7f4ef;
    --thorin-green-dim: #cbe7dc;
    --thorin-green-bright: #158463;
    --thorin-green-light: #104a38;
    --thorin-green-surface: #153c31;
    --thorin-grey-primary: #9b9ba7;
    --thorin-grey-active: #f6f6f6;
    --thorin-grey-dim: #e8e8e8;
    --thorin-grey-bright: #5d5c62;
    --thorin-grey-light: #424347;
    --thorin-grey-surface: #141416;
    --thorin-text-primary: #ffffff;
    --thorin-text-secondary: #9b9ba7;
    --thorin-text-accent: #ffffff;
    --thorin-text-disabled: #5d5c62;
    --thorin-background-primary: #1e2122;
    --thorin-background-secondary: #141416;
    --thorin-background-disabled: #424347;
    --thorin-border: #42464e;
}

.max-w {
    @apply max-w-2xl;
}

.link {
    @apply underline hover:font-bold;
}

.btn {
    @apply bg-blue-primary hover:bg-blue-dim text-text-accent cursor-pointer px-4 py-2 rounded-lg;
}

.btn[disabled] {
    @apply bg-grey-dim text-text-disabled cursor-not-allowed;
}

.card {
    @apply bg-background-primary rounded-lg border border-border;
}

.input {
    @apply border border-border bg-background-primary rounded-lg px-4 py-2;
}
